@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

.cart-header {
  position: sticky;
  top: 0;
  height: 9rem;
  display: grid;
  grid-template-columns: 10rem 1fr 1fr 18rem;
  background-color: white;
}

.order-online {
  display: flex;
  gap: 3rem;
  grid-column: 2/3;
  align-items: center;
  border-bottom: solid 2px #f4ce14;
}

.order-online h1 {
  cursor: pointer;
}

.cart-icon {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: solid 2px #f4ce14;
  margin-top: 0.5rem;
}

.cart-icon img {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

.cart-icon p {
  align-self: flex-start;
  background-color: #495e57;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  position: relative;
  right: 2rem;
  color: white;
}

.cards .img-box img {
  width: 420px;
  height: 350px;
  border-radius: 2rem;
}

.main-cart-section {
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.cards {
  margin-bottom: 5rem;
  margin-right: 9rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details .price-btn {
  display: flex;
  gap: 10rem;
  height: 6rem;
  align-items: center;
}

.details h2,
.details p {
  color: black;
  margin-top: 1rem;
}

.details h2 {
  font-family: "Markazi Text";
  font-size: 3rem;
  border-bottom: solid 2px #f4ce14;
}

.details p {
  font-family: "Karla";
  font-size: 1.5rem;
  font-weight: 500;
}

.price-btn p {
  font-family: "Karla";
  font-size: 2rem;
}

.price-btn button {
  background-color: #f4ce14;
  border: none;
  font-family: "Karla";
  margin-top: 2rem;
  font-size: 2rem;
  padding: 0.8rem 2rem;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

.price-btn button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #f4ce14;
  transform: translateY(-0.25em);
  scale: 1.04;
  transition: 0.3s;
}

@media (max-width: 1210px) {
  .cart-header {
    grid-template-columns: 8rem 1fr 1fr 10rem;
  }

  .cards .img-box img {
    width: 420px;
    height: 320px;
    border-radius: 2rem;
  }
}

@media (max-width: 1080px) {
  .main-cart-section {
    margin: 5rem 7rem;
  }

  .main-cart-section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }

  .cards {
    display: flex;
  }

  .details .price-btn {
    display: flex;
    gap: 4.5rem;
    height: 8rem;
    align-items: center;
  }

  .details p {
    margin-top: 3rem;
  }
}

@media (max-width: 998px) {
  .main-cart-section {
    margin: 5rem 5rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .cards {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .cards .img-box img {
    width: 500px;
    margin-top: 4rem;
    border: 2px #495e57 solid;
  }

  .details .price-btn {
    display: flex;
    justify-content: space-around;
  }

  .cart-header {
    grid-template-columns: 4rem 1fr 1fr 4rem;
  }
}

@media (max-width: 640px) {
  .cart-header {
    grid-template-columns: 2rem 1fr 1fr 2rem;
  }

  .main-cart-section {
    margin: 5rem 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .cards .img-box img {
    width: 400px;
    height: 280px;
    margin: 2rem;
  }
}

@media (max-width: 500px) {
  .main-cart-section {
    margin: 5rem 5rem;
  }

  .cart-header {
    grid-template-columns: 2rem 1fr 1fr 2rem;
  }

  .cards .img-box img {
    width: 300px;
    height: 200px;
    margin: 2rem 2rem;
  }

  .details .price-btn {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 4rem;
  }

  .order-online {
    display: flex;
    gap: 1rem;
  }

  .order-online h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 430px) {
  .main-cart-section {
    margin: 5rem 2rem;
  }

  .cards .img-box img {
    width: 240px;
  }
}

.warning {
  display: inline-block;
  padding: 1rem;
  border-radius: 10px;
  border: solid white 2px;
  background-color: #495e57;
  color: white;
  font-family: "Karla";
  font-size: 2.2rem;
  margin: 2rem;
  position: sticky;
  top: 12rem;
  left: 98rem;
  z-index: 2;
}

.confirm {
  display: inline-block;
  padding: 1rem;
  border-radius: 10px;
  border: solid black 2px;
  background-color: #f4ce14;
  color: black;
  font-family: "Karla";
  font-size: 2.2rem;
  font-weight: 700;
  margin: 2rem;
  position: sticky;
  top: 12rem;
  left: 98rem;
  z-index: 2;
}

.cartItems {
  width: 50%;
  margin: auto;
}

.cart-box img {
  width: 150px;
  height: 120px;
  box-shadow: rgba(99, 99, 99, 0.2) 1px 12px 10px 10px;
  border: #f4ce14 2px solid;
  border-radius: 2rem;
}

.cart-img {
  display: flex;
  width: 320px;
  align-items: center;
  justify-content: flex-start;
}

.cart-img p {
  color: black;
  font-weight: bold;
  margin-left: 15px;
  font-size: 1.7rem;
}

.cart-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 3px solid #f4ce14;
  padding-bottom: 15px;
}

.qtyControls button {
  padding: 7px 12px;
  font-weight: bold;
  font-size: 1.7rem;
  margin-right: 10px;
  cursor: pointer;
  background-color: #495e57;
  color: white;
  border: none;
  border-radius: 1rem;
}

.otherControls button {
  padding: 5px 10px;
  font-weight: 900;
  letter-spacing: 1px;
  border: none;
  outline: none;
  color: white;
  background-color: #495e57;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Karla";
}

.otherControls button:hover {
  background-color: #f4ce14;
  color: black;
  transition: 0.3s;
}

.otherControls span {
  background-color: #f4ce14;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
}

.totalPrice span {
  font-size: 3.5rem;
  font-family: "Markazi Text";
  font-weight: 700;
  letter-spacing: 2px;
  color: #495e57;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 1200px) {
  .cartItems {
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 998px) {
  .cartItems {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 865px) {
  .cartItems {
    width: 80%;
    margin: auto;
  }

  .cart-img {
    width: 250px;
  }
}

@media (max-width: 675px) {
  .cartItems {
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 590px) {
  .cart-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .cart-img {
    width: auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cart-img img {
    width: 300px;
    height: 240px;
  }

  .cart-img p {
    font-size: 2.5rem;
  }

  .qtyControls {
    display: flex;
  }

  .qtyControls button {
    font-size: 2rem;
  }

  .otherControls span {
    font-size: 2.3rem;
  }

  .otherControls button {
    font-size: 2rem;
  }

  .cart-icon img {
    width: 5rem;
    height: 5rem;
  }

  .cart-icon p {
    top: 0.5rem;
    padding: 0.5rem .8rem;
    border-radius: 4rem;

  }

  .order-online img{
    width: 5.5rem;
    height: 5.5rem;
  }
}
